*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D5974;
    width: 100%;
}

.container-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.pesquisa {
    display: flex;
    align-items: center;
    gap: 10px;
}

.botaoPesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pesquisa>input {
    width: 280px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

input:focus{
    outline: none;
}

.pesquisa>button {
    gap: 5px;
    width: 90px;
    height: 30px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    background-color: #7DBAF2;
    padding: 2px;
    border: none;
    cursor: pointer;
}

.pesquisa>button> img {
    width: 20px;
    height: 20px;
}

.containernav {
    width: 500px;
    min-width: 400px;
    max-height: 40px;
}

.containernav-ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.containernav-ul>li a {
    color: white;
    text-decoration: none;
    transition: 0.8s;
    cursor: pointer;
    font-weight: 500;
}

.containernav-ul>li a:hover{
    font-size: 25px;
    color: #8BC841;
}


.banner {
    width: 100%;
    height: 400px;
    background-image: url(/ASSETS/IMG/banner.png);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
}

.containerBanner {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.containerBanner> h1 {
    font-size: 32px;
    font-weight: bold;
    color: #3D5974;
}

.containerBanner> p {
    width: 600px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.containerBanner> button {
    width: 375px;
    height: 60px;
    border: 3px solid white;
    background-color: #7DBAF2;
    border-radius: 0px 20px 0px 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.containerBanner> button:hover {
    font-size: 22px;
}